<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYViewLight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F1ED2801E348FC400C18D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1ED2991E348FC500C18D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1ED2A41E348FC500C18D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
